.header-works {
    background-image: url('../Uploads/lqdrW2O-GKA.jpg'); 
    background-position: 25% 60%; 
}

.work-photo {
    padding: 0.1rem;
    object-fit: cover;
    width: clamp(5vw, 20vw, 30vw)
  }